* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Times", sans-serif;
}

#navbarNav li a {
  color: white;
}

#navbarNav a {
  transition: all 0.3s ease;
}

#navbarNav a:hover {
  color: #000 !important; /* Colore primario Bootstrap */
  background-color: #fee822fa; /* Sfondo giallo chiaro tipo evidenziatore */
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
  transform: scale(1.08);
}

.navbar-brand h3 {
  letter-spacing: 1px;
}

.navbar-toggler-icon {
  color: white;
}

/*hero section*/

.hero-section {
  border: 1px solid transparent;
  text-align: center;
  padding: 100px 0;
}

/*home*/

.card-title-home:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.vai-programma:hover {
  background-color: #4b91fd;
  color: #fff;
}

.vai-relatori {
  color: #1c9137;
}

.vai-relatori:hover {
  background-color: #7bb99d;
  color: #fff;
}

/*Incontri online*/

.programma {
  min-height: 100vh;

  border: 1px solid transparent;
}

.programma .card-text {
  font-style: italic;
}

.programma .card {
  width: 100%;
  height: 100%;
}

.programma .row {
  align-items: flex-start;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover; /* taglia l'immagine per riempire lo spazio senza deformarla */
}

.card a {
  text-decoration: none;
}

.jumbo-title {
  color: #9d0208;
}

/* Autori */

.card-autore {
  max-width: 100%;
  min-height: 100%;
}

.titolo-autori {
  transition: all 0.3s ease;
}

.titolo-autori {
  color: #fff !important; /* Colore primario Bootstrap */
  background-color: #d55c01; /* Sfondo giallo chiaro tipo evidenziatore */
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.card-autore:hover {
  transform: scale(1.05);
  background-color: #780606d6;
  color: #fff;
}

.card-autore:hover .text-body-secondary {
  color: #fff !important;
}

/*Footer*/

footer {
  width: 100%;
  height: 100%;
}

.footer-link {
  color: #f8f9fa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #0d6efd;
}

.social-icon,
.instagram-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin: 0 8px;
  transition: all 0.3s ease;
}

.instagram-icon {
  background-color: #fd2c98;
}

.social-icon:hover {
  transform: translateY(-3px);
  color: #fff;
}

@media (min-width: 992px) {
  .programma .card {
    width: 75%;
    height: 75%;
  }
}
